{% extends "core/base.html" %}
{% load static %}

{% block styles %}
<link href="{% static 'profiles/profile.css' %}?ver=1.2" rel="stylesheet">
<link href="{% static 'posts/css/post_element.css' %}?ver=1.2" rel="stylesheet">
<link href="{% static 'posts/css/posts.css' %}?ver=1.2" rel="stylesheet">
{% endblock %}

{% block body %}

<div id="banner-row">
</div>

<div class="container" id="profile-cont" data-profile="{{ profile.id }}">

    <div id="profile-view" {% if user.is_authenticated %}data-user="{{ user.id }}"{% endif %}>
    </div>

    <nav aria-label="Profile" id="profile-nav">
    </nav>

    <div id="profile-actions">
    </div>

    <div id="post-view">
        {% if user.is_authenticated %}
            <div id="comment-form">
            </div>
        {% endif %}
    </div>

</div>

{% endblock %}

{% csrf_token %}
{% block script %}
    <script src="{% static 'posts/javascript/post_element.js' %}"></script>
    <script src="{% static 'posts/javascript/post_compose.js' %}"></script>
    <script src="{% static 'profiles/profile.js' %}"></script>
{% endblock %}