/* ===== Create Post Form ===== */

.form-div {
    margin-top: 10px;
    background-color: #242222;
    padding-right: 10px;
    padding-bottom: 60px;
    padding-top: 10px;
    border-radius: 10px;
}

.post-form-row {
    display: flex;
}

.create-post-pfp {
    width: 70px;
    flex: 1;
    margin: 10px;
    margin-top: 20px;
}

.create-post-pfp img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.form-text-div {
    width: 100%;
}

.form-text-div label{
    color: white;
}

#form-text {
    background-color: #383636;
    color: white;
    border: 0.5px solid #5e5d5c;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
}

.post-crt-btn {
    margin-top: 10px;
    background-color: var(--on-primary);
    color: var(--primary);
}

.post-crt-btn:focus {
    color: var(--on-primary);
    background-color: var(--primary);
    outline: var(--on-primary) solid 3px;
}

.post-crt-btn:hover {
    color: var(--on-primary);
    background-color: var(--primary);
    outline: var(--on-primary) solid 1px;
}

/* ===== Post Element Cards ===== */

.post-card {
    margin-top: 20px;
    background-color: #242222;
    border-radius: 10px;
    color: white;
}

.post-pfp {
    width: 70px;
    margin: 10px;
    margin-top: 20px;
    margin-right: 0px;
    display: inline-block;
    vertical-align: top;
}

.post-pfp img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.misc-div {
    margin-top: 10px;
    display: inline-block;
}

.post-top-deets {
}

.post-full-name {
}

.post-user-create {
    color: gray;
}

.post-like-heart {
    display: inline-block;
    margin: 5px;
    margin-left: 10px;
}

.like-cnt {
    display: inline-block;
    margin: 5px;
}

.post-like-btn {
    display: inline-block;
    margin: 5px;
    border: none;
    background-color: #242222;
    color: white;
    outline: gray solid 1px;
    border-radius: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.post-like-btn:focus {
    outline: red solid 3px;
}

#load-btn-div {
    text-align: center;
}

#load-btn {
    width: 50%;
    margin: 20px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: var(--variant-hover);
    color: var(--on-primary);
}

#load-btn:focus {
    outline: var(--on-primary) solid 3px;
}

#load-btn:hover {
    background-color: var(--primary);
}