#posts-title {
    color: var(--on-background);
}

.posts-container {
    display: flex;
}

.posts-child {
    flex: 1; /* additionally, equal width */
    margin: 10px;
}

/* ===== Create Post Form ===== */

#posts-view {
    width: 75%;
    margin-top: 0;
}

.form-div {
    margin-top: 10px;
    background-color: var(--main);
    padding-right: 10px;
    padding-bottom: 60px;
    padding-top: 10px;
    border-radius: 10px;
}

.post-form-row {
    display: flex;
}

.create-post-pfp {
    width: 70px;
    flex: 1;
    margin: 10px;
    margin-top: 20px;
}

.create-post-pfp img {
    height: 50px;
    width: 50px;
}

.form-text-div {
    width: 100%;
}

.form-text-div label{
    color: white;
}

#form-text {
    background-color: #383636;
    color: white;
    border: 0.5px solid #5e5d5c;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
}

.post-crt-btn {
    margin-top: 10px;
    background-color: var(--on-primary);
    color: var(--primary);
}

.post-crt-btn:focus {
    color: var(--on-primary);
    background-color: var(--primary);
    outline: var(--on-primary) solid 3px;
}

.post-crt-btn:hover {
    color: var(--on-primary);
    background-color: var(--primary);
    outline: var(--on-primary) solid 1px;
}

/* ===== Post Element Cards ===== */

.post-card {
    margin-top: 20px;
    background-color: var(--main);
    border-radius: 10px;
    color: white;
}

.post-pfp {
    width: 70px;
    margin: 10px;
    margin-top: 20px;
    margin-right: 0px;
    display: inline-block;
    vertical-align: top;
}

.post-pfp img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.misc-div {
    margin-top: 10px;
    display: inline-block;
}

.post-top-deets {
}

.post-full-name {
}

.post-user-create {
    color: gray;
}

.post-like-heart {
    display: inline-block;
    margin: 5px;
    margin-left: 5px;
}

.like-cnt {
    display: inline-block;
    margin: 5px;
}

.post-like-btn {
    display: inline-block;
    margin: 5px;
    border: none;
    background-color: var(--main);
    color: white;
    outline: gray solid 1px;
    border-radius: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 17px;
}

.post-like-btn:focus {
    outline: red solid 3px;
}

#load-btn-div {
    text-align: center;
}

#load-btn {
    width: 50%;
    margin: 20px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: var(--variant-hover);
    color: var(--on-primary);
}

#load-btn:focus {
    outline: var(--on-primary) solid 3px;
}

#load-btn:hover {
    background-color: var(--primary);
}


/* ===== Full Post View ===== */

.back-btn {
    outline: gray solid 1px;
    background-color: var(--background);
    margin-bottom: 20px;
    color: var(--on-background);
    vertical-align: middle;
    display: inline-block;
    height: 50px;
    margin-top: 10px;
}

.back-btn i {
    padding-right: 5px;
    font-size: 1.5rem;
    display: inline-block;
    vertical-align: middle;
}

.back-btn span {
    vertical-align: middle;
    padding-right: 5px;
}

#post-view {}

.post-view-card {
    background-color: var(--main);
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.post-view-user-cont {
    display: inline-block;
    padding: 10px;
}

.post-view-pfp {
    display: inline-block;
    vertical-align: middle;
}

.post-view-pfp img {
    height: 50px;
    width: 50px;
}

.user-info-div {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.user-info-div p{
    margin: 0;
}

.post-view-content-text {
    padding: 15px;
}

.post-view-timestamp-cont {
}

.post-view-time {
    padding: 10px;
}

.full-buttons-div {
    text-align: center;
}

/* ===== Genre Sidebar ===== */

#side-view {
    width: 25%;
    margin: 0;
    padding: 0;
    margin-left: auto;
    order: 2;
}

#genre-sidebar {
    background-color: var(--background);
    border-radius: 10px;
    width: 100%;
    outline: var(--primary) solid 1px;
    padding: 1rem;
    margin-top: 20px;
}

.sb-genre-cont label{
    margin-left: 12px;
    color: white;
}