:root {

    /* ===== Colors ===== */

    --background: #000000;
    --on-background: #e3e2e6;
    --primary-container: #a8c8ff;
    --on-primary-container: #003062;
    --primary: #00468a;
    --on-primary: #d6e3ff;
    --secondary: #5f3180;
    --secondary-container: #e3b5ff;
    --on-secondary-container: #471867;
    --on-secondary: #f3daff;
    --accent: #7a2851;
    --on-accent: #ffd8e5;
    --accent-container: #5d0f3a;
    --on-accent-container: #ffb0cf;
    --accent-container-hover: #00363f;
    --focus-outline: #53d7f1;
    --error: #93000a;
    --on-error: #ffdad6;
    --variant: #43474e;
    --on-variant: #c4c6cf;

}

body {
    background-color: var(--background);
}

.round-btn {
    border: none;
    cursor: pointer;
    border-radius: 25px;
    margin: 0 4px;
    padding: 5px 20px;
    font-weight: 560;
}

/* ===== Keyboard User Skip Button ===== */

a.skip-main {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}

a.skip-main:focus, a.skip-main:active {
    color: #fff;
    background-color:#000;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow:auto;
    margin: 10px 35%;
    padding:5px;
    border-radius: 15px;
    border:4px solid var(--primary);
    text-align:center;
    font-size:1.2em;
    z-index:999;
}

/* ===== Navigation Bar ===== */

nav {
    background-color: #242222;
    padding: 10px;
    position: relative;
    color: var(--on-primary);
}

.nav-div {
    display: flex;
    align-items: center;
}

.nb-brand a{
    font-size: 1.2rem;
    color: var(--on-accent);
}

.nb-brand i{
    display: inline-block;
    margin: 4px;
}

.nb-brand p{
    display: inline-block;
    margin: 0;
    margin-left: 10px;
}

.gnr-dropdown {
    display: inline-block;
    margin-left: 35px;
    padding: 6px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.gnr-dropdown input:focus {
    outline: var(--accent) solid 3px;
}

.gnr-dropdown:hover {
    background-color: var(--accent);
}

.genre-btn i{
    margin-left: 15px;
}

.genre-btn:hover {
    background-color: var(--accent);
}

.genre-btn:focus {
    background-color: var(--accent);
}

.genre-btn {
    outline: none;
    border: none;
    background-color: #242222;
    color: var(--on-primary);
}

#gnr-dropdown-cnt {
    display: none;
    position: absolute;
    z-index: 1;
    left: 160px;
    padding-right: 5px;
    padding-left: 1px;
    margin-top: 20px;
    background-color: #242222;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    outline: var(--accent) solid 1px;
}

#gnr-dropdown-cnt a{
     color: var(--on-primary);
}

.gnr-dropdown-item {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.nav-right {
    margin-left: auto;
    order: 2;
}

.sign-in-link {
    display: flex;
    align-items: center;
    outline: var(--secondary) solid 1px;
    border-radius: 30px;
    padding: 5px 10px;
    color: var(--on-secondary);
}

.sign-in-link:hover {
    background-color: var(--secondary);
    color: var(--on-secondary);
    text-decoration: none;
}

.sign-in-link:focus {
    outline: var(--on-secondary) solid 3px;
}

.sign-in-link i{
    display: inline-block;
}

.sign-in-link p{
    display: inline-block;
    margin: 0;
    margin-left: 4px;
}