{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>{% block title %}Jukework{% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="{% static 'core/css/styles.css' %}?ver=1.2" rel="stylesheet">
        <link href="{% static 'core/css/media.css' %}?ver=1.2" rel="stylesheet">
        {% block styles %}
        {% endblock %}
        <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,500i,600,700,800,900,900i">
    </head>
    <header>
        <a class="skip-main" href="#maincontent">Skip to main content</a>
        <nav aria-label="Main" id="main-nav">
            {% if user.is_authenticated %}
            <div id="user-menu" data-user="{{ user.id }}">
            </div>
            {% endif %}
        </nav>
    </header>
    <body>
        {% block body %}
        {% endblock %}
    </body>
    <script defer src="{% static 'core/javascript/script.js' %}"></script>
{% block script %}
{% endblock %}
</html>