{% extends "core/base.html" %}
{% load static %}

{% block styles %}
<link href="{% static 'posts/css/post_element.css' %}?ver=1.2" rel="stylesheet">
{% endblock %}

{% block body %}

<div class="container" id="search-cont" data-query="{{ query }}">

    <div id="profiles-view">
    </div>

    <div id="search-posts-view">
    </div>

    <div id="post-view">
        {% if user.is_authenticated %}
            <div id="comment-form">
            </div>
        {% endif %}
    </div>

</div>

{% endblock %}

{% block script %}
    <script src="{% static 'posts/javascript/post_element.js' %}"></script>
    <script src="{% static 'core/javascript/search.js' %}"></script>
{% endblock %}