/* ===== Login Page ===== */

.auth-container {
    outline: var(--primary-container) solid 0.5px;
    padding: 30px;
    border-radius: 10px;
    color: var(--primary-container);
    margin-bottom: 25px;
}

.auth-item {
    padding: 1px;
}

.auth-item input{
    background-color: var(--variant);
    color: var(--on-variant);
}

.auth-item input:focus{
    background-color: var(--variant-hover);
    color: var(--on-variant);
    outline: var(--focus-outline) solid 3px;
}

.auth-item input:hover{
    background-color: var(--variant-hover);
    color: var(--on-variant);
}

/* ===== Register Page ===== */

.reg-item  label, input {
    display: block;
}

.reg-item {
    margin: 10px;
}

.reg-item input {
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    border: none;
    outline: var(--primary-container) solid 1px;
}

.reg-item select {
    width: 100%;
    padding: 5px;
    background-color: var(--variant);
    color: var(--on-variant);
    border: none;
    outline: var(--primary-container) solid 1px;
    border-radius: 5px;
}

.reg-item select:focus {
    background-color: var(--variant-hover);
    color: var(--on-variant);
    outline: var(--focus-outline) solid 3px;
}