#alert {
    display: none;
}

.auth-rdrt-link {
    color: var(--accent-container-hover);
    font-weight: 600;
}

.auth-rdrt-link:hover {
    color: var(--accent-container-hover);
}

.auth-btn {
    background-color: var(--accent);
    color: white;
}

/* ===== Login Page ===== */

.auth-container {
    padding: 30px;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.3);
    outline: rgba(255, 255,255, .5) solid 1px;
    box-shadow: var(--shad-02);
    margin-bottom: 25px;
    color: white;
}

.auth-group {
    margin-bottom: 30px;
}

.auth-group input::placeholder {
    color: white;
    opacity: 1; /* Firefox */
  }

.auth-group input {
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid white;
    margin-bottom: 10px;
    font-size: medium;
}

.auth-group span {
    background-color: rgba(255,255,255,0.3);
}

.auth-rdrt a{
    color: var(--main);
    font-weight: 600;
}

.auth-btn {
    float: right;
}