#banner-row {
    display: none;
    overflow: hidden;
    height: 200px;
    margin-top: -20px;
}

#banner-row img{
    width:100%;
    position:relative;
    top:-150%;
}

/* ===== Profile Info Section ===== */
#profile-cont {
}

#profile-info-cont {
    display: flex;
    align-items: center;
}

#profile-info-pfp {
    height: 250px;
    display: flex;
    align-items: center;
    margin-left: 250px;
    margin-right: 50px;
}

#profile-info-pfp img{
    height: 175px;
    width: 175px;
    box-shadow: var(--shad-02);
}

.profile-info-text-cont {
    color: white;
}

.profile-info {
    margin: 0;
    padding: 0;
}

#info-username {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

#profile-fllw-btn {
    display: inline-block;
    vertical-align: middle;
    background-color: var(--on-primary-container);
    color: white;
    box-shadow: var(--shad-01);
}

#profile-fllw-btn:hover {
    box-shadow: var(--shad-02);
}

#follows-tag {
    display: inline-block;
    vertical-align: middle;
    background-color: var(--main);
    margin: 0;
    padding: 2px;
    margin-left: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.profile-count {
    display: inline-block;
    margin-right: 10px;
}

.profile-count {
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-right: 40px;
}

.profile-count p {
    margin-right: 10px;
}

#third-info {
    padding-top: 20px;
}

#profile-full {
    display: inline-block;
    margin-right: 20px;
}

#profile-genre {
    display: inline-block;
}

/* ===== Profile Nav Bar ===== */

#profile-nav {
    width: 100%;
}

#profile-nav-bar {
    align-items: center;
    width: 100%;
    border-top: var(--on-background) solid 1px;
    border-bottom: var(--on-background) solid 1px;
}

#profile-nav-bar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}

#profile-nav-bar li {
    list-style: none;
    color: white;
    margin: 10px;
}

.profile-nav-btn {
    padding: 0 100px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.profile-nav-btn i {
    margin-right: 10px;
}

/* ===== Profile Actions Section ===== */

#profile-actions {
    margin-top: 20px;
}

.profile-post-form {
    margin-bottom: 20px;
}

#post-view {
    display: none;
    width: 100%;
}