@media screen and (min-width: 1061px) {

  #search-full-label {
    display: inline-block;
  }

  #search-short-label {
    display: none;
  }


  #search-btn p {
    display: block;
  }

  #search-btn i {
    display: none;
  }

}

@media screen and (max-width: 1060px) {

  /*body {
    background: black;
  }*/

  .profile-nav-btn {
    padding: 0 50px;
  }

  #search-full-label {
    display: none;
  }

  #search-short-label {
    display: inline-block;
  }

  #search-inp {
    padding: 5px 10px;
    width: 200px;
  }

  #search-btn {
    border-radius: 35px;
    padding: 10px 10px;
  }

  #search-btn p {
    display: none;
  }

  #search-btn i {
    display: block;
  }

}

@media screen and (max-width: 990px) {

  /*body {
    background: grey;
  }*/
}

@media screen and (max-width: 920px) {

  /*body {
    background: purple;
  }*/

  #main-nav {
    padding: 0 16px;
  }

  #search-form{
    position: relative;
  }

  #search-short-label {
    position: absolute;
    top: -0.1ex;
    z-index: 1;
    left: 2em;
    background-color: rgba(255,255,255,0.025);
    backdrop-filter: blur(20px);
    padding: 0 5px;
  }

  #search-inp {
    border: 1px solid gray;
    position: relative;
    margin: 10px;
    width: 150px;
  }

  #search-btn {
    margin: 0;
  }

  .posts-container {
    display: block;
  }

  #side-view {
    margin-left: 0;
    width: 100%;
  }

  #genre-sidebar fieldset {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  #posts-view {
    width: 100%;
    margin-top: 16px;
  }

  #posts-cont {
    padding-right: 0;
  }

  #search-posts-view .post-card .post-misc-div .post-img-cont img {
    width: 150px;
    height: 150px;
  }

}

@media screen and (max-width: 768px) {

  body {
    background: pink;
  }

  #main-nav {
    padding: 1px 8px;
  }

  #nav-right #reg-link {
    display: none;
  }

  #search-inp {
    padding: 5px 10px;
    width: 100px;
  }

  .nav-bar-pfp {
    margin-right: 0;
  }

  .drpdwn-btn span {
    display: none;
  }

  #genre-sidebar fieldset {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  #search-cont {
    flex-direction: column;
  }

  #profiles-view {
    height: auto;
  }

  #users-inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .search-user-pfp {
    margin-left: 0;
  }

  #search-posts-view {
    margin: 0;
  }

  #search-posts-view .post-card .post-misc-div .post-img-cont img {
    width: 250px;
    height: 250px;
  }


  .search-user-link {
    height: 115px;
  }

  .user-card {
    display: block;
    text-align: center;
    padding: 8px;
  }

  .post-full-name {
    overflow: hidden;
    width: 140px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .search-user-info {
    margin-left: 0;
  }

  .profile-nav-btn {
    padding: 0 30px;
  }

}

@media screen and (max-width: 600px) {

  body {
    background: blue;
  }

  #main-nav {
    margin: 8px;
  }

  .drpdwn-btn i {
    margin-left: 0;
  }

  #pro-dropdown-cnt {
    right: 8px;
    margin-top: 32px;
  }

  .auth-container {
    max-width: 400px;
  }

  #search-inp {
    padding: 5px 10px;
    width: 100px;
  }

  #users-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .search-user-link {
    margin-bottom: 32px;
  }

  .user-card {
    display: block;
    text-align: center;
    padding: 8px;
  }

  .user-card .post-full-name {
    width: 100%;
    text-align: center;
  }

  .profile-nav-btn {
    padding: 0 20px;
  }

  #profile-info-pfp {
    margin-right: 24px;
  }

  #profile-info-pfp img {
    height: 150px;
    width: 150px;
  }

  #info-username {
    font-size: 1.25rem;
    margin-bottom: 0;
    margin-right: 4px;
  }

  #settings-form {
    flex-direction: column;
  }

  .settings-pics-div,
  #form-column {
    width: 100%;
  }

}

@media screen and (max-width: 480px) {

  body {
    background: green;
    margin-top: 72px;
  }

  #main-nav {
    position: fixed;
    top: 0;
    margin: 0;
    width: 100%;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    backdrop-filter: blur(10px);
  }

  .brand-logo {
    font-size: 2rem;
  }

  .nb-brand p {
    display: none;
  }

  #pro-dropdown-cnt {
    right: 8px;
    margin-top: 24px;
  }

  .auth-container {
    max-width: 300px;
  }

  #genre-sidebar {
    padding: 24px;
  }

  .sb-genre-cont {
    display: flex;
    align-items: center;
  }

  .sb-genre-cont label {
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .post-pfp {
    display: none;
  }

  .mobile-post-pfp {
    display: block;
  }

  .post-top {
    display: flex;
  }

  .post-top-deets {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
  }

  .post-full-name {
    text-align: start;
  }

  .post-img-cont img {
    margin-top: 16px;
    margin-left: 5px;
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

  .post-btn-cont {
    padding-right: 0;
  }

  .user-card {
    padding: 0;
  }

  .search-htwo-title {
    margin-bottom: 32px;
  }

  .user-card:hover {
    background-color: none;
    outline: none;
    box-shadow: none;
  }

  .search-user-info {
    margin: 0 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .user-card .post-full-name {
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  #profile-view {
    height: 200px;
    flex-direction: column;
  }

  #profile-info-cont {
    width: 100%;
  }

  #profile-info-pfp img {
    height: 100px;
    width: 100px;
  }

  #info-username {
    font-size: 1.15rem;
    margin-bottom: 0;
    margin-right: 4px;
    font-weight: 600;
  }

  #profile-full {
    display: block;
    width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

  }

  #sec-info {
    font-size: 1rem;
  }

  .profile-count {
    padding-top: 4px;
    padding-right: 8px;
  }

  #third-info {
    display: block;
    padding-top: 8px;
  }

  #third-info p {
    margin-bottom: 4px;
  }

  .profile-nav-btn {
    padding: 0 8px;
  }


}