:root {

    /* ===== Colors ===== */

    --background: #000000;
    --on-background: #e3e2e6;
    --main: #242222;
    --on-primary-container: #005320;
    --primary-container: #a1f6aa;
    --on-primary: #86d990;
    --primary: #003914;
    --on-secondary:#aac7ff;
    --on-secondary-container: #00458e;
    --secondary-container: #d7e3ff;
    --secondary: #002f65;
    --on-accent: #f4be48;
    --accent: #402d00;
    --on-accent-container: #5c4200;
    --accent-container: #ffdea2;
    --accent-container-hover: #00363f;
    --focus-outline: #53d7f1;
    --error: #93000a;
    --on-error: #ffdad6;
    --variant: #43474e;
    --on-variant: #c4c6cf;
    --variant-hover: #2b2e33;

    /* ===== Shadow ===== */
    /* https://codepen.io/sdthornton/pen/wBZdXq */
    --shad-01: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    --shad-02: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    --shad-03: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    --shad-04: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    --shad-05: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

}

/* https://stackoverflow.com/questions/2869212/css3-gradient-background-set-on-body-doesnt-stretch-but-instead-repeats */

html {
    min-height: 100%;
}

body {
    background-image: linear-gradient(to bottom right, var(--primary), var(--secondary));
    min-height: 100%;;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Raleway", sans-serif;
    background-size: cover;
}

.round-btn {
    border: none;
    cursor: pointer;
    border-radius: 25px;
    margin: 0 4px;
    padding: 5px 20px;
    font-weight: 400;
    box-shadow: var(--shad-01);
}

.round-btn:hover {
    box-shadow: var(--shad-02);
}

.round-pfp img{
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    box-shadow: var(--shad-02);
}

/* ===== Keyboard User Skip Button ===== */

a.skip-main {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}

a.skip-main:focus, a.skip-main:active {
    color: #fff;
    background-color:#000;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow:auto;
    margin: 10px 35%;
    padding:5px;
    border-radius: 15px;
    border:4px solid var(--primary);
    text-align:center;
    font-size:1.2em;
    z-index:999;
}

#maincontent {
    scroll-margin-top: 3rem;
    color: var(--background);
}

/* ===== Navigation Bar ===== */

#main-nav {
    background-color: rgba(255,255,255,0.3);
    color: var(--on-primary);
    outline: rgba(255, 255,255, .5) solid 1px;
    padding: 8px;
    border-radius: 25px;
    box-shadow: var(--shad-02);
    margin: 16px 64px;
}

#main-nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#main-nav li{
    list-style: none;
}

.nav-div ul {
    padding-left: 10px;
    margin: 5px 0;
}

.nb-brand {
    margin-top: 3px;
    font-weight: 600;
}

.nb-brand a{
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: white;
}

.nb-brand i{
    display: inline-block;
    margin: 4px;
}

.nb-brand p{
    display: inline-block;
    margin: 0;
    margin-left: 5px;
}

.nav-dropdown {
    display: inline-block;
    margin-left: 35px;
    padding: 6px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.nav-dropdown button:focus {
    outline: var(--accent) solid 3px;
    outline-offset: 6px;
    border-radius: 30px;
}

.nav-dropdown:hover {
    outline: var(--accent) solid 3px;
}

.drpdwn-btn {
    display: flex;
    align-items: center;
    margin-bottom: 1px;
}

.nav-bar-pfp {
    display: inline-block;
    align-items: center;
    margin-right: 15px;
}

.nav-bar-pfp img {
    outline: var(--on-secondary) solid 0.5px;
    width: 25px;
    height: 25px;
}

.pro-dropdown {
    margin-left: 8px;
    padding: 6px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.pro-dropdown button:focus {
    outline-offset: 6px;
    border-radius: 30px;
}

.drpdwn-btn i{
    margin-left: 15px;
}

.drpdwn-btn {
    outline: none;
    border: none;
    background-color: transparent;
    color: white;
}

#pro-dropdown-cnt {
    display: none;
    position: absolute;
    z-index: 1;
    right: 65px;
    padding-right: 5px;
    padding-left: 1px;
    margin-top: 40px;
    background-color: rgba(255,255,255,0.4);
    outline: rgba(255, 255,255, .5) solid 1px;
    backdrop-filter: blur(10px);
    box-shadow: var(--shad-02);
    border-radius: 25px;
}

#pro-dropdown-cnt a{
    color: black;
}

.nav-dropdown-item {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.nav-dropdown-item i {
    margin-right: 10px;
    margin-left: 5px;
}

#nav-right {
    margin-right: 10px;
    order: 2;
    display: flex;
    align-items: center;
}

#nav-right a{
    margin-right: 5px;
    display: flex;
    align-items: center;
}

.sign-in-link {
    background: var(--secondary);
    border-radius: 30px;
    padding: 5px 10px;
    color: white;
    box-shadow: var(--shad-01);
}

.sign-in-link:hover {
    background-color: var(--secondary);
    color: var(--on-secondary);
    text-decoration: none;
    box-shadow: var(--shad-02);
}

.sign-in-link:focus {
    outline: var(--on-secondary) solid 3px;
}

.sign-in-link i{
    display: inline-block;
}

.sign-in-link p{
    display: inline-block;
    margin: 0;
    margin-left: 4px;
}

#reg-link {
    margin-left: 10px;
}

/* ===== Search Bar ===== */

#nav-middle {
}

#search-form label{
    margin: 0;
    padding: 0;
    margin-right: 10px;
    color: white;
}

#search-inp {
    background-color: transparent;
    border: none;
    outline: white solid 1px;
    border-radius: 30px;
    height: 100%;
    padding: 5px 20px;
    color: white;
}

#search-inp::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }

#search-form button {
    margin-left: 10px;
    background-color: var(--on-primary-container);
    color: white;
}

#search-btn p {
    margin: 0;
    vertical-align: middle;
}

#search-title {
    color: white;
    padding-left: 24px;
}

#search-cont {
    display: flex;
    width:100%;
    height:100%;
}

#search-users-title {
    padding-bottom: 2px;
}

#profiles-view {
    margin: 10px;
    height: 100%;
    vertical-align: middle;
}

.search-htwo-title {
    color: white;
}

#search-posts-view {
    margin: 10px;
    height: 100%;
    vertical-align: middle;
}

#profile-creations-none {
    color: white;
}

.search-user-link:hover{
    text-decoration: none;
}

.user-card:hover {
    background-color: rgba(255,255,255,0.3);
    outline: rgba(255, 255,255, .5) solid 1px;
    box-shadow: var(--shad-02);
}

.search-user-link:focus{
    outline: 5px solid  white;
}

.user-card {
    padding: 20px;
    color: white;
    display: flex;
    border-radius: 16px;
}

.search-user-pfp {
    margin-left: 8px;
    margin-right: 0;
    vertical-align: top;
    height: 100%;
}

.search-user-pfp img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.search-user-info {
    height: 100%;
    vertical-align: middle;
    margin-left: 20px;
}

.search-user-info p{
    margin: 0;
    padding: 0;
}

.search-post-card {
    background-color: var(--main);
    margin-bottom: 20px;
    border-radius: 10px;
    color: white;
    display: flex;
}

#post-view {
    display: none;
    width: 100%;
}


/* ===== Settings Page ===== */

/*https://stackoverflow.com/questions/22196587/how-to-vertically-center-a-container-in-bootstrap*/

.settings-pics-div {
    display: inline-block;
    margin-bottom: 40px;
    width: 100%;
    text-align: center;
}

#settings-pfp {
    display: inline-block;
}

#settings-pfp label {
    display: block;
    position: relative;
    right: 20px;
}

#settings-pfp img {
    height: 150px;
    width: 150px;
}

#settings-banner {
    display: inline-block;
    margin-left: 25px;
}

#settings-banner label {
    display: block;
    position: relative;
    right: 225px;
}

#settings-banner img{
    height: 150px;
    width: 500px;
    border-radius: 10px;
    object-fit: cover;
}

.btn-row {
    margin-top: 75px;
}

.set-btn-col button{
    width: 100%;
    padding: 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#dlt-posts-btn {
    background-color: var(--on-error);
    color: var(--error);
}

#dlt-accnt-btn {
    background-color: var(--error);
    color: var(--on-error);
}