{% extends "core/base.html" %}
{% load static %}

{% block styles %}
    <link href="{% static 'users/auth.css' %}?ver=1.2" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="container auth-container" style="margin-top: 20px;" data-profile="{{ profile.id }}">

    <h2 class="auth-title">Settings</h2>

    <p class="alert auth-alert" role="alert" id="settings-alert" style="display: none;"></p>

    <div id="settings-form" data-user="{{ profile.id }}">
    </div>


</div>


{% endblock %}

{% csrf_token %}
{% block script %}
    <script src="{% static 'core/javascript/settings.js' %}"></script>
{% endblock %}