{% extends "core/base.html" %}
{% load static %}

{% block styles %}
<link href="{% static 'posts/css/posts.css' %}?ver=1.2" rel="stylesheet">
<link href="{% static 'posts/css/post_element.css' %}?ver=1.2" rel="stylesheet">
{% endblock %}

{% block body %}
<h2 id="posts-title" class="container" data-page="{{ page }}"></h2>

<div class="container posts-container">

    {% if user.is_authenticated %}
        <div id="post-form" data-user="{{ user.id }}">
        </div>
    {% endif %}

    <div id="side-view">
    </div>

    <div id="posts-view">
    </div>

    <div id="post-view">
        {% if user.is_authenticated %}
            <div id="comment-form">
            </div>
        {% endif %}
    </div>

</div>


{% endblock %}

{% csrf_token %}
{% block script %}
    <script src="{% static 'posts/javascript/posts.js' %}"></script>
    <script src="{% static 'posts/javascript/post_compose.js' %}"></script>
    <script src="{% static 'posts/javascript/post_element.js' %}"></script>
{% endblock %}