{% extends "core/base.html" %}

{% block body %}
    <br>
    <h2 class="title" style="margin-left: 10px;"><strong>All Posts</strong></h2>
    <br>
    {% if user.is_authenticated %}
    <div class="container justify-content-center" style=" border: 1px solid gray; border-radius: 5px;">
        <h4 class="heading" style="margin-left: 10px; margin-top: 15px; margin-bottom: 2px;"><strong>New Post</strong></h4>
        <form action="{% url 'index' %}" method="post">
            {% csrf_token %}
            <div class="form-row w-100 p-3">
                {{ form_fields.0 }}
                <input type="submit" value="Post" class="btn btn-primary" style="margin-top: 2px;">
            </div>
        </form>
    </div>
    {% endif %}
    <br>
    <div class="row justify-content-center">
        {% for post in page_obj %}
        <div class="card w-75" style="margin: 10px;">
            <div class="card-body">
                <a href="{% url 'profile' post.creator.id %}">{{ post.creator }}</p></a>
                {% if user.id == post.creator.id  %}
                    <input type="button" class="card-link edit-btn" data-post="{{ post.id }}" value="Edit">
                {% endif %}
                <p class="card-text" data-post="{{ post.id }}">{{ post.content }}</p>
                {% if user.id == post.creator.id  %}
                <div class="edit-form-cont" data-post="{{ post.id }}" style="display: none;" onsubmit="event.preventDefault();">
                    <form class="edit-form" data-post="{{ post.id }}">
                        <textarea class="form-control edit-content" data-post="{{ post.id }}"></textarea>
                        <input type="submit" class="btn btn-primary" data-post="{{ post.id }}" value="Save Edit"/>
                    </form>
                    <br>
                </div>
                {% endif %}
                <h6 class="card-subtitle mb-2 text-muted">{{ post.creation_date }}</h6>
                {% if user.is_authenticated %}
                <div class="like-div">
                    <button type="button" class="like-btn" data-post="{{ post.id }}" data-user="{{ user.id }}" style="display:inline;">
                        {% if user in post.likers.all %}
                        <i class='bx bxs-heart' data-action="Unlike" style="color:red;"></i>
                        {% else %}
                        <i class='bx bxs-heart' data-action="Like" style="color:grey;"></i>
                        {% endif %}
                    </button>
                    <h6 class="card-subtitle mb-2 text-muted" data-likecnt="{{ post.id }}" style="display:inline;">{{ post.likers.count }}</h6>
                </div>
                <br>
                {% endif %}
                <h6 class="card-subtitle mb-2 text-muted">Comment</h6>
            </div>
          </div>
          {% empty %}
            <p>No posts at this time.</p>
        {% endfor %}
    </div>
    <div class="row justify-content-center">
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
    <br>


{% endblock %}