:root {

    /* ===== Colors ===== */

    --background: #000000;
    --on-background: #e3e2e6;
    --main: #242222;
    --primary-container: #a8c8ff;
    --on-primary-container: #003062;
    --primary: #00468a;
    --on-primary: #d6e3ff;
    --secondary: #5f3180;
    --secondary-container: #e3b5ff;
    --on-secondary-container: #471867;
    --on-secondary: #f3daff;
    --accent: #7a2851;
    --on-accent: #ffd8e5;
    --accent-container: #5d0f3a;
    --on-accent-container: #ffb0cf;
    --accent-container-hover: #00363f;
    --focus-outline: #53d7f1;
    --error: #93000a;
    --on-error: #ffdad6;
    --variant: #43474e;
    --on-variant: #c4c6cf;
    --variant-hover: #2b2e33;

}

body {
    background-color: var(--background);
    padding-top: 66px;
}

.round-btn {
    border: none;
    cursor: pointer;
    border-radius: 25px;
    margin: 0 4px;
    padding: 5px 20px;
    font-weight: 560;
}

.round-pfp img{
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

/* ===== Keyboard User Skip Button ===== */

a.skip-main {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}

a.skip-main:focus, a.skip-main:active {
    color: #fff;
    background-color:#000;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow:auto;
    margin: 10px 35%;
    padding:5px;
    border-radius: 15px;
    border:4px solid var(--primary);
    text-align:center;
    font-size:1.2em;
    z-index:999;
}

#maincontent {
    scroll-margin-top: 3rem;
    color: var(--background);
}

/* ===== Navigation Bar ===== */

#main-nav {
    background-color: var(--main);
    position: fixed;
    color: var(--on-primary);
    top: 0;
    width: 100%;
    z-index: 5;
}

#main-nav ul {
    display: flex;
    justify-content: space-between;
}

#main-nav li{
    list-style: none;
}

.nav-div {
    align-items: center;
}

.nav-div ul {
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.nb-brand {
    margin-top: 3px;
}

.nb-brand a{
    font-size: 1.2rem;
    color: var(--on-accent);
}

.nb-brand i{
    display: inline-block;
    margin: 4px;
}

.nb-brand p{
    display: inline-block;
    margin: 0;
    margin-left: 5px;
}

.nav-dropdown {
    display: inline-block;
    margin-left: 35px;
    padding: 6px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.nav-dropdown button:focus {
    outline: var(--accent) solid 3px;
    outline-offset: 6px;
    border-radius: 30px;
}

.nav-dropdown:hover {
    outline: var(--accent) solid 3px;
}

.drpdwn-btn {
    display: flex;
    align-items: center;
    margin-bottom: 1px;
}

.nav-bar-pfp {
    display: inline-block;
    align-items: center;
    margin-right: 15px;
}

.nav-bar-pfp img {
    outline: var(--on-secondary) solid 0.5px;
    width: 25px;
    height: 25px;
}

.pro-dropdown {
    margin-left: 35px;
    padding: 6px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.pro-dropdown button:focus {
    outline: var(--secondary) solid 3px;
    outline-offset: 6px;
    border-radius: 30px;
}

.pro-dropdown:hover {
    outline: var(--secondary) solid 3px;
}

.drpdwn-btn i{
    margin-left: 15px;
}

.drpdwn-btn {
    outline: none;
    border: none;
    background-color: var(--main);
    color: var(--on-secondary);
}

#pro-dropdown-cnt {
    display: none;
    position: absolute;
    z-index: 1;
    right: 10px;
    padding-right: 5px;
    padding-left: 1px;
    margin-top: 20px;
    background-color: var(--main);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    outline: var(--secondary) solid 1px;
}

#pro-dropdown-cnt a{
    color: var(--on-secondary);
}

.nav-dropdown-item {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.nav-dropdown-item i {
    margin-right: 10px;
    margin-left: 5px;
}

#nav-right {
    margin-right: 10px;
    order: 2;
}

#nav-right a{
    display: inline-block;
    margin-right: 5px;
}

.sign-in-link {
    display: flex;
    align-items: center;
    outline: var(--secondary) solid 1px;
    border-radius: 30px;
    padding: 5px 10px;
    color: var(--on-secondary);
}

.sign-in-link:hover {
    background-color: var(--secondary);
    color: var(--on-secondary);
    text-decoration: none;
}

.sign-in-link:focus {
    outline: var(--on-secondary) solid 3px;
}

.sign-in-link i{
    display: inline-block;
}

.sign-in-link p{
    display: inline-block;
    margin: 0;
    margin-left: 4px;
}

#reg-link {
    margin-left: 10px;
}

/* ===== Search Bar ===== */

#nav-middle {
}

#search-form label{
    margin: 0;
    padding: 0;
    margin-right: 10px;
}

#search-inp {
    background-color: var(--main);
    border: none;
    outline: white solid 1px;
    border-radius: 30px;
    height: 100%;
    padding: 5px 20px;
    color: white;
}

#search-form button {
    margin-left: 10px;
}

#search-btn p {
    margin: 0;
    vertical-align: middle;
}

#search-title {
    color: white;
}

#search-cont {
    display: flex;
    width:100%;
    height:100%;
}

#search-users-title {
    padding-bottom: 2px;
}

#profiles-view {
    margin: 10px;
    flex: 1;
    width: 50%;
    height: 100%;
    vertical-align: middle;
    border-bottom: 0.2px solid white;
}

.search-htwo-title {
    color: white;
}

#search-posts-view {
    margin: 10px;
    flex: 1;
    width: 50%;
    height: 100%;
    vertical-align: middle;
}

#profile-creations-none {
    color: white;
}

.search-user-link:hover{
    text-decoration: none;
}

.user-card:hover {
    background-color: var(--main)
}

.search-user-link:focus{
    outline: 5px solid  white;
}

.user-card {
    border-top: 0.2px solid white;
    padding: 20px;
    color: white;
    display: flex;
}

.search-user-pfp {
    margin-left: 20px;
    margin-right: 0;
    vertical-align: top;
    height: 100%;
}

.search-user-pfp img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.search-user-info {
    height: 100%;
    vertical-align: middle;
    margin-left: 20px;
}

.search-user-info p{
    margin: 0;
    padding: 0;
}

.search-post-card {
    background-color: var(--main);
    margin-bottom: 20px;
    border-radius: 10px;
    color: white;
    display: flex;
}

#post-view {
    display: none;
    width: 100%;
}