#posts-title {
    color: var(--on-background);
}

.posts-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.posts-child {
    flex: 1; /* additionally, equal width */
    margin-right: 10px;
    margin-left: 0;
}

/* ===== Create Post Form ===== */

#posts-view {
    width: 75%;
    margin-top: 0;
}

.form-div {
    margin-top: 10px;
    background-color: var(--main);
    padding-right: 10px;
    padding-bottom: 60px;
    padding-top: 10px;
    border-radius: 10px;
}

#post-form {
    order: -1;
    flex: 1 0 100%;
}

.post-form-row {
    display: flex;
}

.create-post-pfp {
    width: 70px;
}

.create-post-pfp img {
    height: 50px;
    width: 50px;
    margin: 10px;
}

.form-text-div {
    width: 100%;
}

.form-text-div label{
    color: white;
}

#form-text {
    background-color: #383636;
    color: white;
    border: 0.5px solid #5e5d5c;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
}

.post-crt-btn {
    margin-top: 10px;
    background-color: var(--on-primary);
    color: var(--primary);
}

.post-crt-btn:focus {
    color: var(--on-primary);
    background-color: var(--primary);
    outline: var(--on-primary) solid 3px;
}

.post-crt-btn:hover {
    color: var(--on-primary);
    background-color: var(--primary);
    outline: var(--on-primary) solid 1px;
}

/* ===== Genre Sidebar ===== */

#side-view {
    width: 25%;
    margin: 0;
    padding: 0;
    margin-left: auto;
    order: 2;
}

#genre-sidebar {
    background-color: var(--background);
    border-radius: 10px;
    width: 100%;
    outline: var(--primary) solid 1px;
    padding: 1rem;
    margin-top: 23px;
}

.sb-genre-cont label{
    margin-left: 12px;
    color: white;
}