/* ===== Post Element Cards ===== */

#posts-cont {
    margin-left: -10px;
}

.post-card {
    margin-bottom: 20px;
    background-color: var(--main);
    border-radius: 10px;
    color: white;
    display: flex;
}

.post-pfp {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 0;
    vertical-align: top;
    height: 100%;
}

.post-pfp img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.post-misc-div {
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 25px;
}

.post-top-deets {
}

.post-full-name {
    color: white;
}

.post-full-name:hover {
    color: white;
}

.post-user-create {
    color: gray;
}

.post-content-cont {
    padding-right: 5px;
}

.post-like-heart {
    display: inline-block;
    margin: 5px;
    margin-left: 5px;
}

.like-cnt {
    display: inline-block;
    margin: 5px;
}

.post-like-btn {
    display: inline-block;
    margin: 5px;
    border: none;
    background-color: var(--background);
    color: white;
    outline: gray solid 1px;
    border-radius: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 17px;
}

.post-edit-btn {
    padding: 10px;
}

.post-like-btn:focus {
    outline: red solid 3px;
}

#load-btn-div {
    text-align: center;
}

#load-btn {
    width: 50%;
    margin: 20px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: var(--variant-hover);
    color: var(--on-primary);
}

#load-btn:focus {
    outline: var(--on-primary) solid 3px;
}

#load-btn:hover {
    background-color: var(--primary);
}


/* ===== Full Post View ===== */

.back-btn {
    outline: gray solid 1px;
    background-color: var(--background);
    margin-bottom: 20px;
    color: var(--on-background);
    vertical-align: middle;
    display: inline-block;
    height: 50px;
    margin-top: 10px;
}

.back-btn i {
    padding-right: 5px;
    font-size: 1.5rem;
    display: inline-block;
    vertical-align: middle;
}

.back-btn span {
    vertical-align: middle;
    padding-right: 5px;
}

.post-view-card {
    background-color: var(--background);
    border: 1px solid white;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.post-view-user-cont {
    display: inline-block;
    padding: 10px;
}

.post-view-pfp {
    display: inline-block;
    vertical-align: middle;
}

.post-view-pfp img {
    height: 50px;
    width: 50px;
}

.user-info-div {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.user-info-div p{
    margin: 0;
}

.user-info-full-name {
    color: white;
}

.user-info-full-name:hover {
    color: white;
}

.post-view-content-text {
    padding: 15px;
}

.post-view-timestamp-cont {
    margin: 0;
    padding: 0;
}

.post-view-time {
    padding-left: 15px;
}

.full-buttons-div {
    text-align: center;
}

/* --- Edit Button --- */
.post-edit-btn {

}

.post-edit-btn i{
    margin-right: 5px;
}

.comment-edit-btn {
    background-color: var(--background);
}

.comment-edit-btn i{
    margin-right: 5px;
}

/* --- Comment Section --- */


.comments-section label {
    color: var(--on-background);
}

.make-comment-cont {
    width: 100%;
    display: flex;
}

.cmnt-card-img-w-text-box {
    width: 100%;
    display: flex;
}

.comment-submit {
    width: 100%;
}

.logged-comment-pfp {
    display:inline-block;
    text-align: center;
}



.comment-form-box {
    background-color: var(--background);
    outline: none;
    border: none;
    border-bottom: 1px solid var(--on-background);
    margin-bottom: 10px;
    font-size: medium;
    color: var(--on-background);
    width: 100%;
}

#add-cmnt-btn {
    float: right;
}

.comment-card {
    width: 100%;
    display: flex;
    color: var(--on-background);
    margin: 10px;
}

.comment-pfp img{
    display:inline-block;
    text-align: center;
    height: 50px;
    width: 50px;
    margin-right: 5px;
    margin-top: 15px;
}

.comment-details {
    margin: 10px;
}

.comment-content-text {
    margin: 0;
}

.comment-full-name {
    color: white;
    text-decoration: none;
    font-weight: 600;
 }

.comment-user-create {
    color: var(--on-accent-container);
    font-size: 0.80em;
    margin-left: 5px;
    font-weight: lighter;
}

.comment-like-btn {
    display: inline-block;
    margin: 5px;
    border: none;
    background-color: var(--background);
    color: white;
    outline: gray solid 1px;
    border-radius: 30px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 17px;
}

.comment-like-btn i {
    margin-right: 5px;
}

.comment-like-btn p {
    padding: 0;
    margin: 0;
    margin-right: 5px;
}

.comment-misc-div {
    margin-left: 7px;
}